/* Google Font - DotGothic */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

:root {
  --success-color: #00ff00;
  --error-color: #e74c3c;
}

* {
  /* Use on all projects so that any padding doesn't effect the width */
  box-sizing: border-box;
}

body {
  background-color: #343434;
  font-family: "DotGothic16", sans-serif;
  /* makes all direct children of the body a flex item */

  /* This centers almost everything in the UI */
  display: flex;
  /* align-items and justify-content will center vertically and horizontally */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  /* end center code */
}

input,
button {
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 0.15rem;
}

.container {
  background-color: #36454f;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 250, 0, 0.3);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  color: #7dc734;
  letter-spacing: 0.2rem;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  /* positioned relative so that the small tags can be absolute */
  position: relative;
}

.form-control label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
}

.form-control input {
  border: 3px solid #777;
  border-radius: 4px;
  /* makes the input populate its own line */
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border: 3px solid #e3ff00;
}

.form-control.success input {
  border-color: var(--success-color);
}
.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  /* Keeps the content there but makes it invisible */
  visibility: hidden;
}

/* This means that if the form control div has the class of "error", the small tag becomes visible */
.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: rgba(0, 250, 0, 0.3);
  border: 2px solid rgba(0, 250, 0, 0.3);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.form button:hover {
  background-color: #7dc734;
}
